<h3>Add Question</h3>
<hr>
<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :body %>
	<%= f.text_area :body, rows: 7 %><br />

	<%= f.label :topic_tokens, "Topics" %>
	<%= f.text_field :topic_tokens,
		"data-pre" => @question.topics.map(&:attributes).to_json,
		:id => "question_topic_tokens" %><br />

	<button type="submit" class="btn btn-success">Add Question</button>
<% end %>

<script>
	autocomplete();
</script>