<h3>Add Question</h3>
<hr>
<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :body %>
	<%= f.text_field :body %><br />

	<!-- <div id="topic_form"></div> -->

	<!-- <button id="add_topic_form">Add New Topics</button><br /><br /> -->

	<%= f.submit "Add Question"%>
<% end %>

<script>
// 	$("#add_topic_form").click(function(event){
// 		$("#topic_form").append()
// 	})
</script>