<h3><%= @question.title %></h3>

<p><%= @question.body %></p>

<a class="get_comment_area">Leave a Comment</a>

<hr>
<p><%= @answers.count %> Answers</p>
<hr>

<div class="comment_area hidden">
	<%= link_to current_user.username, user_url(current_user) %><br />

	<%= form_for @comment, html: { class: "new_comment" } do |f| %>
		<%= f.text_area(:body, rows: 3) %><br />
		<%= f.hidden_field(:question_id, :value => @question.id) %>

		<div id="leave_answer"><%= f.submit "Answer" %></div>
	<% end %>
	<hr>
</div>

	<ul id="answers_html">
		<% @answers.each do |answer| %>
			<%= render :partial => "comments/nested_answer", 
				:locals => { :answer => answer, :comment => @comment }%>
		<% end %>
	</ul>	
 
	<ul id="answers_backbone"></ul>

<script>
	$("a.show_comment").on("click", function(event){
		$(this).next("form").toggleClass("hidden");
	})
	
	$(".get_comment_area").on("click", function(event){
		$(".comment_area").toggleClass("hidden");
	})
</script>