<%= form_for @rel,
	:remote => true,
	:html => { :class => current_user.followed_questions.include?(@question) ? "follow_question hidden" : "follow_question"} do |f| %>
	<%= f.hidden_field :question_id, :value => @question.id %>
	<button type="submit" class="btn btn-success">Follow Question<i class="icon-ok"></i></button>
<% end %>

<%= form_for @rel,
	:remote => true,
	:html => { :class => current_user.followed_questions.include?(@question) ? "unfollow_question" : "unfollow_question hidden",
	:method => :delete } do |f| %>
	<%= f.hidden_field :question_id, :value => @question.id %>
	<button type="submit" class="btn btn-success">Unfollow Question<i class="icon-ok"></i></button>
<% end %>

<ul id="tags">
	<% @question.topics.each do |topic| %>
		<span class="label label-inverse">
			<%= link_to topic.name, topic_url(topic) %>
			<%= link_to raw('<i class="icon-remove"></i>'),
				question_topic_relationships_url(:question_id => @question.id, :topic_id => topic.id),
				:method => :delete,
				:remote => true,
				:class => "remove_topic_tag" %>
		</span>
	<% end %>
</ul>
<button class="add_topic label label-important">Add Topic</button><br />

<%= form_for @qtr,
	:html => { :class => "add_question_topic hidden" },
	:remote => true do |f| %>
	<%= f.hidden_field :question_id, :value => @question.id %>
	<%= f.text_field :topic_id, :class => "question_topic_tokens" %><br />
	<button type="submit" class="topic_button btn btn-success">
		Add Topic
	</button>
<% end %>

<h3><%= @question.title %></h3>
<p><%= @question.body %></p>

<button class="get_comment_area btn btn-link">Leave a Comment</button>

<hr width="80%">
<p><span id="answers_count"><%= pluralize(@question.answers.count, 'Answer')%></span></p>
<hr width="80%">

<div class="comment_area hidden">
	<%= link_to current_user.username, user_url(current_user) %><br />

	<%= form_for @comment, html: { class: "new_comment" }, :remote => true do |f| %>
		<%= f.text_area(:body, rows: 3) %><br />
		<%= f.hidden_field(:question_id, :value => @question.id) %>

		<button type="submit" class="btn btn-success">Answer</button>
	<% end %>
	<hr width="80%">
</div>

<ul id="answers">
	<% @question.answers.each do |answer| %>
		<%= render :partial => "comments/answer",
			:locals => { :answer => answer, :comment => @comment, :vote => @vote }%>
	<% end %>
</ul>

<script type="application/json" id="current_user_id">
	<%= current_user.to_json.html_safe %>
</script>

<script type="application/json" id="current_user_avatar">
	<%= current_user.profile_picture.url(:small).to_json.html_safe %>
</script>

<script>
	removeTopicTag();
	toggleFollowButton();
	leaveComment();
	getCommentArea();
	deleteComment();
	toggleVote();
	toggleReplyBox();
	autocomplete();
	toggleTopicBox();
	addTopicTag();
</script>
