<h3><%= @question.title %></h3>

<p><%= @question.body %></p>

<a class="get_comment_area">Leave a Comment</a>

<hr width="80%">
<p><span id="answers_count"><%= pluralize(@answers.count, 'Answer')%></span></p>
<hr width="80%">

<div class="comment_area hidden">
	<%= link_to current_user.username, user_url(current_user) %><br />

	<%= form_for @comment, html: { class: "new_comment" }, :remote => true do |f| %>
		<%= f.text_area(:body, rows: 3) %><br />
		<%= f.hidden_field(:question_id, :value => @question.id) %>

		<%= f.submit "Answer" %>
	<% end %>
	<hr width="80%">
</div>

<ul id="answers">
	<% @answers.each do |answer| %>
		<%= render :partial => "comments/nested_answer",
			:locals => { :answer => answer, :comment => @comment, :vote => @vote }%>
	<% end %>
</ul>

<script>
	// Leave comment script
	$(".new_comment").on("ajax:success", function(event, data){
		var template = JST["comments/show"]({
			comment: data
		})

		$("#answers").append(template);
		$(".new_comment").find("textarea").val("");
		var count = parseInt($("#answers_count").html().replace(/\s.+/, "")) + 1;
		$("#answers_count").html(count + " " + owl.pluralize("Answer", count));
	})

	// Show comment box script
	$(".get_comment_area").on("click", function(event){
		$(".comment_area").toggleClass("hidden");
	})

	$(".delete_comment").on("ajax:success", function(event){
		$(event.currentTarget).parent("li").remove();
	})
</script>