<li data-id="<%= answer.id %>" class="media">
	<img src="<%= answer.answerer.profile_picture.url(:small) %>" class="img-polaroid">

	<span style="padding-left:30px">
		<%= link_to answer.answerer.username, user_url(answer.answerer) %>
	</span>

	<span class='votes_count'>
		<%= pluralize(answer.votes.count, "vote") %>
	</span><br /><br />

	<%= answer.body %>
	<% if answer.answerer_id == current_user.id %>
		<%= link_to "Delete Comment",
			comment_url(answer),
			:method => :delete,
			:remote => true,
			:class => "delete_comment" %>
	<% end %><br /><br />

	<div class="<%= "un" if current_user.has_vote?(answer) %>vote">
		<%= form_for vote, :remote => true, :html => { :class => "upvote" } do |f| %>
			<%= f.hidden_field :answer_id, :value => answer.id %>
			<button type="submit" class="btn btn-link">
				<i class="icon-thumbs-up"></i> Upvote
			</button>
		<% end %>

		<%= form_for vote,
			:remote => true,
			:method => :delete,
			:html => { :class => "downvote" } do |f| %>
			<%= f.hidden_field :answer_id, :value => answer.id %>
			<button type="submit" class="btn btn-link">
				<i class="icon-thumbs-down"></i> Unvote
			</button>
		<% end %>
	</div>
</li>
