<h3 class="inbox">Inbox</h3>
<div class="new_message"><button class="popup_msg_form btn btn-success">Compose New Message</button></div>
<br /><br /><br /><br /><br />


<table>
  <thead>
    <tr>
      <th class="span2"></th>
      <th class="span2"></th>
      <th class="span2"></th>
    </tr>
	</thead>
  <tbody>
  	<% @conversations.each do |conversation| %>
			<% user = (current_user == conversation.sender) ? conversation.receiver : conversation.sender %>
    	<tr>
      	<td><strong>With: <%= link_to user.username, user_url(user) %></strong></td>
      	<td><strong><%= link_to conversation.last_message.content, conversation_url(conversation) %></strong></td>
      	<td>
					<strong>
						<%= time_ago_in_words(conversation.last_message.created_at) %> ago
						<% if !conversation.is_read? && conversation.last_message.sender != current_user %>
							<span class="label label-important">New!</span>
						<% end %>
					</strong>
				</td>
    	</tr>
  	<% end %>
	</tbody>
</table>


<div class="new_msg_form span5 well">
	<%= form_for Message.new do |f| %>
		<%= f.hidden_field :sender_id, :value => current_user.id %>
		<%= collection_select(:message, :receiver_id, User.all, :id, :username) %>
		<%#= f.text_field :receiver_id, :class => "message_receiver_tokens" %><br />

		<%= f.text_area :content,
			:class => "span4",
			rows: 4,
			:placeholder => "Type Your Message Here" %>

		<%= f.submit "Send Message!", :class => "btn btn-success" %>
	<% end %>

<script>
	msgFormPopup();
	msgAutoComplete();
</script>