<div class="followers"><%= pluralize(topic.followers.count, "Follower") %></div>

<%= form_for rel,
	:remote => true,
	:html => { :class => current_user.followed_topics.include?(topic) ? "follow_topic hidden" : "follow_topic"} do |f| %>
	<%= f.hidden_field :topic_id, :value => topic.id %>
	<button type="submit" class="btn btn-success">Follow Topic<i class="icon-ok"></i></button>
<% end %>

<%= form_for rel,
	:remote => true,
	:html => { :class => current_user.followed_topics.include?(topic) ? "unfollow_topic" : "unfollow_topic hidden",
	:method => :delete } do |f| %>
	<%= f.hidden_field :topic_id, :value => topic.id %>
	<button type="submit" class="btn btn-success">Unfollow Topic<i class="icon-ok"></i></button>
<% end %>
