<%= form_for @rel,
	:remote => true,
	:html => { :class => current_user.followed_topics.include?(@topic) ? "follow_topic hidden" : "follow_topic"} do |f| %>
	<%= f.hidden_field :topic_id, :value => @topic.id %>
	<%= f.submit "Follow Topic" %>
<% end %>

<%= form_for @rel,
	:remote => true,
	:html => { :class => current_user.followed_topics.include?(@topic) ? "unfollow_topic" : "unfollow_topic hidden",
	:method => :delete } do |f| %>
	<%= f.hidden_field :topic_id, :value => @topic.id %>
	<%= f.submit "Unfollow Topic" %>
<% end %>

<h1><%= @topic.name %></h1>

<ul class="nav nav-pills">
  <li class="active"><%= link_to "All Questions", topic_url(@topic) %></li>
  <li><%= link_to "Trending", trending_topic_url(@topic) %></li>
</ul>

<br /><hr width="80%">
<%= link_to "Add Question", "#", :class => "add_question" %>

<%= form_for @question,
	:html => { :class => "add_question_form hidden"} do |f| %>
	<input type='hidden' value="<%= @topic.id %>" name="topic_id" >

	<%= f.label :title %>
	<%= f.text_field :title %><br />

	<%= f.label :body %>
	<%= f.text_area :body, :rows => 2 %><br />

	<%= f.submit "Create Question" %>
<% end %>

<h3>Questions</h3>
<% @topic.questions.each do |question| %>
	<%= link_to question.title, question_url(question) %>
	<hr width="80%">
<% end %>

<script>
	$(".add_question").on("click", function(){
		$(".add_question_form").toggleClass("hidden")
	})

	$(".follow_topic").on("ajax:success", function(){
		$(".follow_topic").toggleClass("hidden");
		$(".unfollow_topic").toggleClass("hidden");
	})
	$(".unfollow_topic").on("ajax:success", function(){
		$(".follow_topic").toggleClass("hidden");
		$(".unfollow_topic").toggleClass("hidden");
	})
</script>