<%= render :partial => "follow_unfollow", :locals => { rel: @rel, topic: @topic } %>

<h1><%= @topic.name %></h1>

<ul class="nav nav-pills">
  <li><%= link_to "All Questions", topic_url(@topic) %></li>
  <li class="active"><%= link_to "Trending", trending_topic_url(@topic) %></li>
</ul>

<br /><hr width="80%">

<%= render :partial => "question_form", :locals => { question: @question, topic: @topic } %>


<h3>Trending Questions</h3>
<% @questions.each do |question| %>
	<%= link_to question.title, question_url(question) %>
	<hr width="80%">
<% end %>

<script>
	addTopicQuestion();
	followUnfollowTopics();
</script>