<% if current_user.id != @user.id %>
	<%= form_for @rel,
		:remote => true,
		:html => { :class => current_user.followed_questions.include?(@user) ? "follow_user hidden" : "follow_user"} do |f| %>
		<%= f.hidden_field :followed_user_id, :value => @user.id %>
		<%= f.submit "Follow User" %>
	<% end %>

	<%= form_for @rel,
		:remote => true,
		:html => { :class => current_user.followed_questions.include?(@user) ? "unfollow_user" : "unfollow_user hidden" ,
		:method => :delete } do |f| %>
		<%= f.hidden_field :followed_user_id, :value => @user.id %>
		<%= f.submit "Unfollow User" %>
	<% end %>
<% end %>

<h3><%= @user.username %></h3>

<div class="avatar"><%= image_tag @user.profile_picture.url(:big) %></div>

<div id="user_profile_feed">
	<%= render :partial => "shared/activity_feed",
		:locals => { activities: @activities } %>
</div>

<script>
	$(".follow_user").on("ajax:success", function(){
		$(".follow_user").toggleClass("hidden");
		$(".unfollow_user").toggleClass("hidden");
	})
	$(".unfollow_user").on("ajax:success", function(){
		$(".follow_user").toggleClass("hidden");
		$(".unfollow_user").toggleClass("hidden");
	})
</script>