<% if current_user.id != @user.id %>
	<%= form_for @rel,
		:remote => true,
		:html => { :class => current_user.followed_questions.include?(@user) ? "follow_user hidden" : "follow_user"} do |f| %>
		<%= f.hidden_field :followed_user_id, :value => @user.id %>
		<%= f.submit "Follow User" %>
	<% end %>

	<%= form_for @rel,
		:remote => true,
		:html => { :class => current_user.followed_questions.include?(@user) ? "unfollow_user" : "unfollow_user hidden" ,
		:method => :delete } do |f| %>
		<%= f.hidden_field :followed_user_id, :value => @user.id %>
		<%= f.submit "Unfollow User" %>
	<% end %>
<% end %>

<h3><%= @user.username %></h3>

<%= image_tag @user.profile_picture.url(:big) %>

<div id="user_profile_feed">
	<% @activities.each do |activity| %>
	  <div class="activity">
			<% if activity.owner.is_a?(User) %>
	    	<%= link_to activity.owner.username, activity.owner if activity.owner %>
			<% else %>
				Question <%= link_to activity.owner.title, activity.owner if activity.owner %>
			<% end %>
	    <%= render_activity activity %>
	  </div>
		<hr width="60%">
	<% end %>
</div>

<script>
	$(".follow_user").on("ajax:success", function(){
		$(".follow_user").toggleClass("hidden");
		$(".unfollow_user").toggleClass("hidden");
	})
	$(".unfollow_user").on("ajax:success", function(){
		$(".follow_user").toggleClass("hidden");
		$(".unfollow_user").toggleClass("hidden");
	})
</script>