<% ["feed", "top_questions", "most_recent"].each do |page| %>
	<% page = "inactive" %>
<% end %>

<% if link == "feed" %>
	<% feed = "active" %>
<% elsif link == "top_questions" %>
	<% top_questions = "active" %>
<% else %>
	<% most_recent = "active" %>
<% end %>

<br />
<ul class="nav nav-pills">
  <li class="<%= most_recent %>"><%= link_to "Most Recent", most_recent_feed_url %></li>
	<li class="<%= feed %>"><%= link_to "Feed", activities_index_url %></li>
  <li class="<%= top_questions %>"><%= link_to "Most Followed", top_questions_feed_url %></li>
</ul>