<style type="text/css">
  body{

    background: url(<%= asset_path 'desert.jpg' %>) no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -ms-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .span4 .offset4 .well{
    background-color:white;
    opacity: .8;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  }
</style>

<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<h3>Quora Clone - Please Sign In!</h3>
			<strong>Account: minion@gmail.com; PW: minionminion</strong><br /><br />
			<strong>Account: monster@gmail.com; PW:monstermonster</strong><br /><br />
			<div>2 Accounts for CHAT! More fun!</div><br /><br />

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, :autofocus => true %></div>

			  <div><%= f.label :password %><br />
			  <%= f.password_field :password %></div>

			  <% if devise_mapping.rememberable? -%>
			    <span style="float:left"><%= f.check_box :remember_me %></span>
					<span style="float:right;padding-right:250px;padding-top:3px">
						<%= f.label :remember_me %>
					</span>
			  <% end %>

				<%= f.submit "Sign in", :class => "btn btn-danger btn-block" %>
			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div>
</div>

