<br />
<ul class="nav nav-pills">
	<li class="active"><%= link_to "Feed", activities_index_url %></li>
  <li><%= link_to "Top Stories", root_url %></li>
  <li><%= link_to "Most Recent", most_recent_feed_url %></li>
</ul>

<% @activities.each do |activity| %>
  <div class="activity">
    <%= link_to activity.owner.username, activity.owner if activity.owner %>
    <%= render_activity activity %>
  </div>
<% end %>