<!DOCTYPE html>
<html>
<head>
  <title>Quora Clone</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%#= javascript_include_tag "http://localhost:9292/faye.js" %>
	<script src="http://js.pusher.com/2.1/pusher.min.js"></script>
	<%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "layouts/header" %>

<div id="body"><%= yield %></div>

<%= render "layouts/footer" %>
</body>
</html>

<script>
	$('.dropdown-toggle').dropdown()
</script>