<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>
<% if user_signed_in? %>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <!-- <a class="brand" href=""> -->
    	<span style="float:left;padding-left:50px">
				<%= link_to image_tag('/assets/quora.png'), root_url %>
			</span>
	    <!-- </a> -->
	    <ul class="nav">
				<li>
					<form class="navbar-search pull-left"
						style="padding:0 100px">
					  <input type="text"
							class="search-query"
							placeholder="Search">
						<button type="submit"
							class="btn">
							Search
						</button>
					</form>
				</li>

				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Write<b class="caret"></b>
					</a>
          <ul class="dropdown-menu">
            <li>
							<%= link_to "Ask a Question", new_question_url %>
						</li>
            <li>
							<%= link_to "Unanswered Questions", unanswered_questions_url %>
						</li>
						<li>
							<%= link_to "Create a Topic", new_topic_url %>
						</li>
          </ul>
      	</li>

				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.username %><b class="caret"></b>
					</a>
          <ul class="dropdown-menu">
            <li>
							<%= link_to "Profile", user_url(current_user) %>
						</li>
            <li>
							<%= link_to "User Settings", edit_user_registration_url %>
						</li>
			      <li>
							<%= link_to "Logout",
								destroy_user_session_path,
								:method => :delete %>
						</li>
          </ul>
      	</li>
	    </ul>
	  </div>
	</div>
<% end %>


<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert"><%= alert %></p>
<% end %>

<div id="body"><%= yield %></div>

</body>
</html>

<script>
	$('.dropdown-toggle').dropdown()
</script>